html
  head
    title=Stackacademy
    link(href='style/stack.css', rel='stylesheet')
    link(href='style/style.css', rel='stylesheet')
  body
    .container
      h1#header Rendering Riot in Pug Templates

      !=hello

      //template layout for pug. != outputs the content in it's unescaped form on the page
